<!doctype html>
<html>
	<head>
		<title>Hello Backbone</title>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
		<script src="HelloModel.js"></script>
		<script src="HelloView.js"></script>
		<script src="hello.js"></script>
		<script type="text/html" id="hello-template">
			<p>The ID is <%= id %></p>
			<p>The content is <%= content %></p>
		</script>
	</head>
	<body>
		<div class="hello">
		</div>
	</body>
</html>
